.list-group-item
{
    cursor: pointer;
    height: 50px;
}

.row
{
    display: flex;
    justify-content: center;
    height: 55vh;
    margin: 40px;
}

h1
{
    text-align: center;
}

.image
{
    width: 100px;
    height: 100px;
    margin: 10px;
}
