<img src="../assets/img/villegas-logo.png" class="image">
<h1>Aplicación de piano</h1>
<div class="row">
  <div class="col-lg-4"  style="border: solid;">
  <a href="#" class="list-group-item list-group-item-action" style="text-align: center;">Piano</a>
  <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action list-group-item-success">Do</a>
  <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action list-group-item-danger">Re</a>
  <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action list-group-item-success">Mi</a>
  <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action list-group-item-danger">Fa</a>
  <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action list-group-item-success">Sol</a>
  <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action list-group-item-danger">La</a>
  <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action list-group-item-success">Si</a>
</div>
</div>