/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../src/assets/img/ye.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh;
}