<mat-card style="border: 0.5rem solid; border-color: dodgerblue;">
    <mat-card-header>
        <h1 style="margin: 0px 390px;">User Login</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field style="margin: 0px 244px;" class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" style="margin: 0px 30px;">Login</button>
                <a routerLink="/register" style="margin: 0px 340px;" mat-raised-button color="accent">Sign up</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>